@model EventSpot.Models.Event

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.EventName
            </h2>
            <h5>
                @Model.EventDate
            </h5>
        </header>
        
        <p>
            @Model.EventDescription
        </p>
        <small class="author">
            Organized by:  @Model.Organizer.FullName
        </small>
        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsOrganizer(User.Identity.Name))
            {
            @Html.ActionLink("Edit", "Edit", "Event", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
            @Html.ActionLink("Delete", "Delete", "Event", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
                 @Html.ActionLink("Back", "Main", "Event", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
</div>
