@model EventSpot.Models.Event

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <div class="jumbotron">

            <header>
                <h3>
                    @Model.EventName
                </h3>
                <h5>
                    @Model.EventDate.ToShortDateString()
                    @Model.StartTime
                </h5>
            </header>
            

                <div class="well">
                    @Model.EventDescription
                
            </div>
            <div class="pull-left">
                <small class="author">
                    Organized by:  @Model.Organizer.FullName
                </small>
            </div>
            <div class="pull-right">
        
            @if (User.IsInRole("Admin") || Model.IsOrganizer(User.Identity.Name))
            {
                    @Html.ActionLink("Edit", "Edit", "Event", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "Event", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                }
                @Html.ActionLink("Back", "Main", "Event", null, new { @class = "btn btn-default btn-xs" })
            </div>
            <div class="col-sm-8">
                <img src="@Url.Action("DisplayImg", new { Id = Model.Id }) " class="img-thumbnail" />
            </div>
        </div>
     
    </article>
</div>
